/* Hide on screens wider than 640px (Tailwind's sm breakpoint) */
@media (min-width: 640px) {
  .mobile-only {
    display: none;
  }
}

.line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }